@mixin border-radius($tl : 4px, $tr : 4px, $br: 4px, $bl: 4px) {
    -moz-border-radius: $tl $tr $br $bl;
    -webkit-border-radius: $tl $tr $br $bl;
    -o-border-radius: $tl $tr $br $bl;
    -ms-border-radius: $tl $tr $br $bl;
    -khtml-border-radius: $tl $tr $br $bl;
    border-radius: $tl $tr $br $bl;
}

@mixin border-radius-all($cord) {
    -moz-border-radius: $cord;
    -webkit-border-radius: $cord;
    -o-border-radius: $cord;
    -ms-border-radius: $cord;
    -khtml-border-radius: $cord;
    border-radius: $cord;
}

@mixin box-shadow($shadow, $inset) {
  -webkit-box-shadow: $shadow, $inset;
     -moz-box-shadow: $shadow, $inset;
          box-shadow: $shadow, $inset;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin radialCenterGradient($color1, $color2) {
    background: $color1;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$color1), color-stop(100%,#999999));
    background: -webkit-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
    background: -moz-radial-gradient(center, ellipse cover, $color1 0%, $color2 100%);
    background: -o-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
    background: -ms-radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
    background: radial-gradient(center, ellipse cover, $color1 0%,$color2 100%);
}

@mixin rotate( $val: -2deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}